body,html,body>div.world{
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
	background:#000;
}


body,body > div.world{
	-webkit-perspective:800px;
	-webkit-transition:-webkit-perspective 400ms;
	-moz-perspective:800px;
	-moz-transition:-moz-perspective 400ms;
	overflow:hidden;
}

body > div.world{
	position:absolute;
}

.world .floor{}
